<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leyou.item.mapper.SpuDetailMapper" >
  <resultMap id="BaseResultMap" type="com.leyou.item.pojo.SpuDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="spu_id" property="spuId" jdbcType="BIGINT" />
    <result column="generic_spec" property="genericSpec" jdbcType="VARCHAR" />
    <result column="special_spec" property="specialSpec" jdbcType="VARCHAR" />
    <result column="packing_list" property="packingList" jdbcType="VARCHAR" />
    <result column="after_service" property="afterService" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.leyou.item.pojo.SpuDetail" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>



</mapper>